<div>
	
	<div class="hapiHeaderText" th:text="${resource.software.name} + ' ' + ${resource.software.version}" />
	
	<div>
		This is a RESTful server implementing the FHIR RESTful protocol, powered by HAPI. 
		You may invoke this server using the RESTful patterns described in the
		FHIR specification. Documentation is available below.
	</div>
	
	<div th:each="resource : ${resource.restFirstRep.resource}">
		
		<h1 th:text="${resource.type.value}"/>

		<p>
			This resource type supports the following search parameters:
		</p>
		
		
	</div>
	
<!--/*-->
		<th:block th:each="prefix : ${resource.prefix}" th:text="${prefix.value} + ' '">Dr</th:block>
	<th:block th:each="givenName : ${resource.given}" th:text="${givenName.value} + ' '">John</th:block>
	<b th:each="familyName : ${resource.family}" th:text="${#strings.toUpperCase(familyName.value)} + ' '">SMITH</b>
	<th:block th:each="suffix : ${resource.suffix}" th:text="${suffix.value} + ' '">Jr</th:block>
<!--*/-->
	
	
</div>
