<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

	<properties>
		<title>Download - HAPI FHIR</title>
		<author email="jamesagnew@users.sourceforge.net">James Agnew</author>
	</properties>

	<body>

		<section name="Downloading HAPI FHIR">

			<p>
				The easiest way to get started with HAPI-FHIR is to either download the
				source code from our
				<a href="https://github.com/jamesagnew/hapi-fhir/">Git Repository</a>
				, or to use Maven:
			</p>
			<source><![CDATA[<dependency>
   <groupId>ca.uhn.hapi.fhir</groupId>
   <artifactId>hapi-fhir-base</artifactId>
   <version>${project.version}</version>
</dependency>]]></source>
			
			<subsection name="Non-Maven Users">
				
				<p>
					Non-maven users can grab the binary releases from the
					<a href="https://github.com/jamesagnew/hapi-fhir/releases">GitHub Release Section</a>.
				</p>
			
			</subsection>

		</section>

		<section name="Using Snapshot Builds">
			
			<p>
				Snapshot builds of HAPI are pre-release builds which can contain
				fixes and new features not yet released in a formal release. To use 
				snapshot builds of HAPI you may need to add a reference to the OSS snapshot
				repository to your project pom.xml:
			</p>
			
			<source><![CDATA[<repositories>
	<repository>
		<id>oss-snapshots</id>
		<snapshots>
			<enabled>true</enabled>
		</snapshots>
		<url>https://oss.sonatype.org/content/repositories/snapshots/</url>
	</repository>
</repositories>]]></source>
			
		</section>

	</body>

</document>
