<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

	<properties>
		<title>Download - HAPI FHIR</title>
		<author email="jamesagnew@users.sourceforge.net">James Agnew</author>
	</properties>

	<body>

		<section name="Downloading HAPI FHIR">

			<p>
				The easiest way to get started with HAPI-FHIR is to either download the
				source code from our
				<a href="https://github.com/jamesagnew/hapi-fhir/">Git Repository</a>
				, or to use Maven:
			</p>
			<source><![CDATA[<dependency>
   <groupId>ca.uhn.hapi.fhir</groupId>
   <artifactId>hapi-fhir-base</artifactId>
   <version>${project.version}</version>
</dependency>]]></source>
			
			<subsection name="Non-Maven Users">
				
				<p>
					Non-maven users can grab the binary releases from the
					<a href="https://github.com/jamesagnew/hapi-fhir/releases">GitHub Release Section</a>.
				</p>
			
			</subsection>

		</section>

		<section name="Using Snapshot Builds">
			
			<p>
				Snapshot builds of HAPI are pre-release builds which can contain
				fixes and new features not yet released in a formal release. To use 
				snapshot builds of HAPI you may need to add a reference to the OSS snapshot
				repository to your project pom.xml:
			</p>
			
			<source><![CDATA[<repositories>
	<repository>
		<id>oss-snapshots</id>
		<snapshots>
			<enabled>true</enabled>
		</snapshots>
		<url>https://oss.sonatype.org/content/repositories/snapshots/</url>
	</repository>
</repositories>]]></source>
			
		</section>

		<section name="Dependencies">
			
			<p>
				The HAPI-FHIR library depends on other libraries to provide specific functionality.
				Some of those libraries are listed here:
			</p>
			
			<subsection name="StAX / Woodstox">
				
				<p>
					XML processing (for resource marshalling and unmarshalling) uses the
					Java StAX API, which is a fast and efficient API for XML processing.
					HAPI bundles (for release archives) and depends on (for Maven builds)
					the <a href="http://woodstox.codehaus.org/">Woodstox</a> library, which
					is a good implementation of StAX.  
				</p>				
				<p>
					Upon starting up, HAPI will emit a log line indicating which StAX implementation
					is being used, e.g:
				</p>
				<source>08:01:32.044 [main] INFO  ca.uhn.fhir.util.XmlUtil - FHIR XML procesing will use StAX implementation 'Woodstox XML-processor' version '4.4.0'</source>
				<p>
					If a different implementation is being used, you may want to consider using
					Woodstox instead by setting the following system properties:	
				</p>				
				<source>System.setProperty("javax.xml.stream.XMLInputFactory", "com.ctc.wstx.stax.WstxInputFactory");
System.setProperty("javax.xml.stream.XMLOutputFactory", "com.ctc.wstx.stax.WstxOutputFactory");
System.setProperty("javax.xml.stream.XMLEventFactory", "com.ctc.wstx.stax.WstxEventFactory");</source>

			</subsection>
			
		</section>

	</body>

</document>
