<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

	<properties>
		<title>Download - HAPI FHIR</title>
		<author email="jamesagnew@users.sourceforge.net">James Agnew</author>
	</properties>

	<body>

		<section name="Downloading HAPI FHIR">

			<p>
				The easiest way to get started with HAPI-FHIR is to either download the
				source code from our
				<a href="https://sourceforge.net/p/hl7api/fhircode/ci/master/tree/">Git Repository</a>
				, or to use Maven:
			</p>
			<source><![CDATA[<dependency>
   <groupId>ca.uhn.hapi.fhir</groupId>
   <artifactId>hapi-fhir-base</artifactId>
   <version>${project.version}</version>
</dependency>]]></source>
			
			<subsection name="Non-Maven Users">
				
				<p>
					Non-maven users can grab the files from the
					<a href="https://sourceforge.net/projects/hl7api/files/hapi-fhir/">Sourceforge File Release System</a>.
				</p>
			
			</subsection>

		</section>

	</body>

</document>
