
migrate/ @hapifhir/data-migrations

hapi-fhir-cli/**/*.java @nathandoef

hapi-fhir-storage-cr/**/*.java @JPercival

hapi-fhir-jpaserver-subscription/**/*.java @fil512
hapi-fhir-jpaserver-mdm/**/*.java @fil512 @tadgh

hapi-fhir-storage/**/*.java @fil512

hapi-fhir-storage-batch2/**/*.java @michaelabuckley @jamesagnew
hapi-fhir-storage-batch2-jobs/**/*.java @michaelabuckley @jamesagnew


