.metadata
.settings
bin
build
dist
generated
target
private
Thumbs.db
*.~*
*.a
*.7z
*.abw
*.ac3
*.arc
*.arj
*.bak
*.bin
*.bz2
*.cab
*.class
*.com
*.cvs
*.dcu
*.ddp
*.dof
*.diff
*.dll
*.DLL
*.doc
*.drc
*.drv
*.dsk
*.ear
*.exe
*.EXE
*.flac
*.gz
*.ipch
*.kwd
*.kwt
*.lastbuildstate
*.lastBuildState
*.lha
*.log
*.m3u
*.m4a
*.mid
*.mp2
*.mp3
*.mod
*.mpc
*.o
*.obj
*.old
*.ogg
*.opensdf
*.orig
*.pack
*.patch
*.pdb
*.pdf
*.ppt
*.ppz
*.pyc
*.rar
*.rej
*.res
*.rpm
*.sar
*.sdf
*.so
*.suo
*.tar
*.jar
*.tga
*.temp
*.tif
*.tiff
*.tlog
*.tmp
*.upx
*.user
*.war
*.wav
*.xlc
*.xls
*.zip
*.zoo
.classpath
.project
src/main/history/
src/main/assembly/felix.xml
commit-msg