# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

variables:
  MAVEN_CACHE_FOLDER: $(Pipeline.Workspace)/.m2/repository
  MAVEN_OPTS: '-Dmaven.repo.local=$(MAVEN_CACHE_FOLDER)'

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'


jobs:
   - job: Build
     timeoutInMinutes: 360
     steps:
         - task: CacheBeta@0
         inputs:
            key: maven | **/pom.xml
            path: $(MAVEN_CACHE_FOLDER)
            displayName: Cache Maven local repo
         - task: Maven@3
            inputs:
               #mavenPomFile: 'pom.xml' 
               goals: 'clean install' # Optional
               options: '-Dmaven.test.skip'
               #publishJUnitResults: true 
               #testResultsFiles: '**/surefire-reports/TEST-*.xml' # Required when publishJUnitResults == True
               #testRunTitle: # Optional
               #codeCoverageToolOption: 'None' # Optional. Options: none, cobertura, jaCoCo. Enabling code coverage inserts the `clean` goal into the Maven goals list when Maven runs.
               #codeCoverageClassFilter: # Optional. Comma-separated list of filters to include or exclude classes from collecting code coverage. For example: +:com.*,+:org.*,-:my.app*.*
               #codeCoverageClassFilesDirectories: # Optional
               #codeCoverageSourceDirectories: # Optional
               #codeCoverageFailIfEmpty: false # Optional
               #javaHomeOption: 'JDKVersion' # Options: jDKVersion, path
               #jdkVersionOption: 'default' # Optional. Options: default, 1.11, 1.10, 1.9, 1.8, 1.7, 1.6
               #jdkDirectory: # Required when javaHomeOption == Path
               #jdkArchitectureOption: 'x64' # Optional. Options: x86, x64
               #mavenVersionOption: 'Default' # Options: default, path
               #mavenDirectory: # Required when mavenVersionOption == Path
               #mavenSetM2Home: false # Required when mavenVersionOption == Path
               mavenOptions: '-Xmx2048m $(MAVEN_OPTS)' # Optional
               #mavenAuthenticateFeed: false 
               #effectivePomSkip: false 
               #sonarQubeRunAnalysis: false 
               #sqMavenPluginVersionChoice: 'latest' # Required when sonarQubeRunAnalysis == True# Options: latest, pom
               #checkStyleRunAnalysis: false # Optional
               #pmdRunAnalysis: false # Optional
               #findBugsRunAnalysis: false # Optional


