/*
#bodyColumn {
	width: 78.5% !important;
}

#breadcrumbs {
	background: white;
	padding: 0px;
	height: 40px;
}

#search-form {
	width: 140px;
}

#navcolumn {
	background-color: white !important;
}

#leftColumn {
	border: none !important;
	width: 19% !important;
	margin: 0px;
}

#navcolumn h5 {
	color: #806020;
	background-color: #FFF0C0;
	border-bottom: 1px solid #E3701A;
}

#navcolumn li.expanded {
	background: url("") !important;
}

.nobr {
	white-space: nowrap;
}

.section {
	padding: 0px;
}

*/

.doc_info_bubble {
	border: 1px dashed #808080;
	border-radius: 6px;
	padding: 8px;
	margin: 8px;
	background: #EEE;
}

TABLE.pagenavlinks {
	border: 0px;
}
A.pagenavlinks {
	background: #CCC;
	border-style: solid;
	border-width: 1px;
	border-color: #888;
	border-radius: 7px;
	padding: 7px;
}

.navbar .brand {
    color: #FF8;
}

.well {
	padding: 5px;
}

.nav-list {
	padding-right: 0px;
	font-size: 12px;
}

.nav-list LI {
	line-height: 15px;
}

/*
.nav-list .divider {
	display: none;
}
*/

@media (min-width: 980px) {   /* 768 980 */
  body {
    padding-top: 40px;
  }
}

body {
    padding-bottom: 10px;
}

pre {
  padding: 3px;
  margin: 0 0 10px;
  font-size: 0.8em;
  line-height: 1.0em;
}

.page-header {
	padding-bottom: 2px;
	margin: 0px 0 0px;
	border-bottom: none;
}
h1[id]:before,
h2[id]:before,
h3[id]:before,
h4[id]:before,
h5[id]:before,
h6[id]:before,
a[name]:before {
    height: auto; 
    margin: auto; 
}

DIV.main-body DIV.row DIV.span8 DIV.body-content {
	top: -8px;
	position: relative;
}

.section h2 {
	border-bottom: 2px solid #CF4711;
	background-color: #FF7741;
	color: #FFA;
	font-size: 1.5em;
	line-height: 1.4em;
	border-radius: 6px;
	padding-left: 5px;
	padding-right: 5px;
}

.section h3 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #993300;
	width: 66%;
	background-image: url('images/littlehapiface.png');
	background-repeat: no-repeat;
	padding-left: 25px;
	font-size: 1.3em;
	line-height: 1.3em;
}

.syntaxhighlighter {
	font-size: 0.85em !important;
}

.syntaxhighlighter .line.alt1,
.syntaxhighlighter .line.alt2 
{
	background-color: #F8F8F8 !important;
}

.syntaxhighlighter .code .container:before {
	display: block;
}

.table th, .table td {
	padding: 2px;
}

tt {
	white-space: pre;
	color: #846;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 2px;
	border: 1px solid #AAA;
	background-color: #F0F0F0;
}

h1,h2,h3,h4,h5 {
	color: #E3701A;
	font-weight: bold;
}

h4 {
	font-size: 1.2em;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 20px;
}

li.expanded ul {
	border-left: 2px solid #C0FFC0;
	margin: 0px 0px 4px 0px !important;	
}

li.expanded ul li {
	padding-left: 2px !important;
}

dfn {
	color: #008000;
	background-color: #E0FFE0;
	border-bottom: 1px dotted #40A040;
}

/*
a,a.externalLink,a:active,a:hover,a:link,a:visited {
	color: #993300;
}

DIV.sidebar-nav UL LI UL LI {
        font-size: 0.9em;
}
*/
