#parse ( "templates.vm" )

package ca.uhn.fhir.model.resource;

import java.util.*;
import ca.uhn.fhir.model.api.*;
import ca.uhn.fhir.model.api.annotation.*;
import ca.uhn.fhir.model.datatype.*;

/**
 * HAPI/FHIR <b>${className}</b> Resource
 * (${shortName})
 *
 * <p>
 * <b>Definition:</b>
 * ${definition}
 * </p> 
 *
 * <p>
 * <b>Requirements:</b>
 * ${requirements}
 * </p> 
 */
@ResourceDef(name="${className}")
public class ${className} extends BaseResource {

#childVars( $children )
#childAccessors( $children )

#foreach ( $child in $resourceBlockChildren )
	/**
	 * Block class for child element: <b>${child.name}</b> (${child.shortName})
	 *
     * <p>
     * <b>Definition:</b>
     * ${child.definition}
     * </p> 
	 */
	@Block(name="${child.name}")	
	public static class ${child.className} {
#childVars( $child.children )
#childAccessors( $child.children )
	}

#end

}