package ca.uhn.fhir.model.resource;

import java.util.*;
import ca.uhn.fhir.model.api.*;
import ca.uhn.fhir.model.api.annotation.*;
import ca.uhn.fhir.model.datatype.*;

/**
 * HAPI/FHIR <b>${className}</b> Resource
 * (${shortName})
 *
 * <p>
 * <b>Definition:</b>
 * ${definition}
 * </p> 
 *
 * <p>
 * <b>Requirements:</b>
 * ${requirements}
 * </p> 
 */
@ResourceDef(name="${resourceName}")
public class ${className} extends BaseResource {

#foreach ( $child in $children )
	@Child(name="${child.elementName}", order=${foreach.index}, min=${child.cardMin}, max=${child.cardMaxForChildAnnotation})	
	private ${child.referenceType} ${child.variableName};
	
#end

#foreach ( $child in $children )
	/**
	 * Gets the value(s) for ${child.elementName} (${child.shortName})
	 *
     * <p>
     * <b>Definition:</b>
     * ${child.definition}
     * </p> 
	 */
	public ${child.referenceType} get${child.methodName}() {
		return ${child.variableName};
	}

	/**
	 * Sets the value(s) for ${child.elementName} (${child.shortName})
	 *
     * <p>
     * <b>Definition:</b>
     * ${child.definition}
     * </p> 
	 */
	public void set${child.methodName}(${child.referenceType} theValue) {
		${child.variableName} = theValue;
	}
	
#end

#foreach ( $child in $resourceBlockChildren )
	/**
	 * Block class for child element: <b>${child.name}</b> (${child.shortName})
	 *
     * <p>
     * <b>Definition:</b>
     * ${child.definition}
     * </p> 
	 */
	@Block(name="${child.name}")	
	public static class ${child.className} {
#foreach ( $subChild in $child.children )
		@Child(name="${subChild.elementName}", order=${foreach.index}, min=${subChild.cardMin}, max=${subChild.cardMaxForChildAnnotation})	
		private ${subChild.referenceType} ${subChild.variableName};

#end
#foreach ( $subChild in $child.children )
		/**
		 * Gets the value(s) for ${subChild.elementName} (${subChild.shortName})
		 *
	     * <p>
	     * <b>Definition:</b>
	     * ${subChild.definition}
	     * </p> 
		 */
		public ${subChild.referenceType} get${subChild.methodName}() {
			return ${subChild.variableName};
		}
	
		/**
		 * Sets the value(s) for ${subChild.elementName} (${subChild.shortName})
		 *
	     * <p>
	     * <b>Definition:</b>
	     * ${subChild.definition}
	     * </p> 
		 */
		public void set${subChild.methodName}(${subChild.referenceType} theValue) {
			${subChild.variableName} = theValue;
		}
	
#end
	}

#end

}