##################################################################
## childVars
##################################################################

#macro ( childVars $childElements )
#foreach ( $child in $children )
#if ($child.resourceRef) 
	@Child(name="${child.elementNameSimplified}", order=${foreach.index}, min=${child.cardMin}, max=${child.cardMaxForChildAnnotation})
	@ChildResource(types= {
#foreach ($nextType in ${child.type})
		${nextType}.class,
#end
	})	
#elseif ($!child.hasMultipleTypes)
	@Child(name="${child.elementNameSimplified}", order=${foreach.index}, min=${child.cardMin}, max=${child.cardMaxForChildAnnotation}, choice=@Choice(types= {
#foreach ($nextType in ${child.type})
		${nextType}.class,
#end
	}))	
#else
	@Child(name="${child.elementNameSimplified}", order=${foreach.index}, min=${child.cardMin}, max=${child.cardMaxForChildAnnotation})	
#end
	private ${child.referenceType} ${child.variableName};
	
#end
#end


##################################################################
## childAccessors
##################################################################

#macro ( childAccessors $childElements )
#foreach ( $child in $children )
	/**
	 * Gets the value(s) for ${child.elementName} (${child.shortName})
	 *
     * <p>
     * <b>Definition:</b>
     * ${child.definition}
     * </p> 
	 */
	public ${child.referenceType} get${child.methodName}() {
		return ${child.variableName};
	}

	/**
	 * Sets the value(s) for ${child.elementName} (${child.shortName})
	 *
     * <p>
     * <b>Definition:</b>
     * ${child.definition}
     * </p> 
	 */
	public void set${child.methodName}(${child.referenceType} theValue) {
		${child.variableName} = theValue;
	}
	
#end
#end

##################################################################
## childExtensionFields
##################################################################

#macro ( childExtensionFields $childExtensionTypes )
#foreach ( $extensionType in $childExtensionTypes )
	@Child()
	private ${extensionType.nameType} my${extensionType.nameType};

#end
#end


##################################################################
## childExtensionTypes
##################################################################

#macro ( childExtensionTypes $childExtensionTypes )
#foreach ( $extensionType in $childExtensionTypes )
	@ExtensionBlock(url="${extensionType.url}")
	public class ${extensionType.nameType} implements IExtension {
		
#if(${extensionType.hasDatatype})
		@Child(name="value", order=0)
		private ${extensionType.datatypeSimpleName} myValue;

		/**
		 * Gets the value 
		 */
		public ${extensionType.datatypeSimpleName} getValue() {
			return myValue;
		}
	
		/**
		 * Sets the value
		 */
		public void setValue(${extensionType.datatypeSimpleName} theValue) {
			myValue = theValue;
		}
#else
#end


	}
	
#end
#end


