<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.web.socket.handler.ExceptionWebSocketHandlerDecorator" additivity="false" level="debug">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="ca.uhn.fhir.jpa.dao.FhirResourceDaoSubscriptionDstu2" additivity="false" level="debug">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.eclipse.jetty.websocket" additivity="false" level="info">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.eclipse" additivity="false" level="error">
	</logger>

	<logger name="ca.uhn.fhir.rest.client" additivity="false" level="info">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="ca.uhn.fhir.jpa.dao" additivity="false" level="info">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<!-- Set to 'trace' to enable SQL logging -->
	<logger name="org.hibernate.SQL" additivity="false" level="trace">
		<appender-ref ref="STDOUT" />
	</logger>
	<!-- Set to 'trace' to enable SQL Value logging -->
	<logger name="org.hibernate.type" additivity="false" level="info">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
