<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.eclipse" additivity="false">
	</logger>

	<logger name="ca.uhn.fhir.rest.client" additivity="false" level="trace">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="ca.uhn.fhir.jpa.dao" additivity="false" level="debug">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.hibernate.SQL" additivity="false" level="DEBUG">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>