<!DOCTYPE html>
<html lang="en">
	<head th:fragment="head">
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<script src="js/jquery-2.1.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet" />
 		<link href="css/tester.css" rel="stylesheet" />
		
		<script type="text/javascript" th:utext="'var conformance = ' + ${jsonEncodedConf} + ';'">
		</script>
		<script type="text/javascript" th:utext="'var resourceName = \'' + ${resourceName} + '\';'">
		</script>
	
		<link href="fa/css/font-awesome.min.css" rel="stylesheet" />

		<link href="css/hapi-narrative.css" rel="stylesheet" />
		<script type="text/javascript" src="js/moment.min.js"></script>
		<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
		<script src="js/bootstrap-datetimepicker.min.js"></script>
		<link href="css/select2.css" rel="stylesheet"/>
		<script src="js/select2.min.js"></script>
		<script src="js/RestfulTester.js" type="text/javascript" ></script>
	</head>
</html>
