<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="banner">
	<div class="row" style="padding-top: 20px;">
      <div class="col-md-4" style="padding-top: 47px;">
         <img src="img/hapi_fhir_banner_right.png" />
      </div>
		<div class="col-md-8">
			<img src="img/hapi_fhir_banner.png" style="height: 150px;" align="right"/>
		</div>
	</div>
	
	<!-- Error banner in case anything went wrong -->	
	<div class="alert  alert-danger alert-dismissable" th:if="${errorMsg} != null">
		<strong>Warning!</strong>
		<p th:text="${errorMsg}"></p>
	</div>
	
</div>
</html>
