<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5">

	<!-- 
	This servlet is for the testing webpage, which is imported via
	the hapi-fhir-testpage-overlay Maven WAR overlay
	-->	
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>ca.uhn.example.config.FhirTesterConfig</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/tester/*</url-pattern>
	</servlet-mapping>

	<!-- 
	This is the actual FHIR server
	-->
	<servlet>
		<servlet-name>fhirServlet</servlet-name>
		<servlet-class>ca.uhn.example.servlet.ExampleRestfulServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>fhirServlet</servlet-name>
		<url-pattern>/fhir/*</url-pattern>
	</servlet-mapping>

</web-app>
