<div>
	<th:block  th:if="${!resource.identifierFirstRep.empty}"  th:narrative="${resource.identifierFirstRep}" />
	<th:block th:if="${not resource.statusElement.empty}">
		/ <th:block th:narrative="${resource.statusElement}"/>
	</th:block>
	<th:block th:if="${not resource.typeFirstRep.empty}">
		/ <th:block th:narrative="${resource.typeFirstRep}"/>
	</th:block>
	<th:block th:if="${not resource.classElementElement.empty}">
		/ <th:block th:narrative="${resource.classElementElement}"/>
	</th:block>
	<th:block th:if="${not resource.period.empty}">
		/ <th:block th:narrative="${resource.period}"/>
	</th:block>
</div>
