<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee ./xsd/web-app_3_0.xsd">

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>	
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
			org.springframework.web.context.support.AnnotationConfigWebApplicationContext
		</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			ca.uhn.fhirtest.config.DbServerConfig
		</param-value>
	</context-param>
	
	
	<!-- Servlets -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				ca.uhn.fhirtest.config.FhirTesterConfig
			</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>fhirServletR5</servlet-name>
		<servlet-class>ca.uhn.fhirtest.TestRestfulServer</servlet-class>
		<init-param>
			<param-name>FhirVersion</param-name>
			<param-value>R5</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>fhirServletR4</servlet-name>
		<servlet-class>ca.uhn.fhirtest.TestRestfulServer</servlet-class>
		<init-param>
			<param-name>FhirVersion</param-name>
			<param-value>R4</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>fhirServletDstu2</servlet-name>
		<servlet-class>ca.uhn.fhirtest.TestRestfulServer</servlet-class>
		<init-param>
			<param-name>FhirVersion</param-name>
			<param-value>DSTU2</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>fhirServletDstu3</servlet-name>
		<servlet-class>ca.uhn.fhirtest.TestRestfulServer</servlet-class>
		<init-param>
			<param-name>FhirVersion</param-name>
			<param-value>DSTU3</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>fhirServletR5</servlet-name>
		<url-pattern>/baseR5/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fhirServletR4</servlet-name>
		<url-pattern>/baseR4/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fhirServletDstu2</servlet-name>
		<url-pattern>/baseDstu2/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fhirServletDstu3</servlet-name>
		<url-pattern>/baseDstu2.1/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fhirServletDstu3</servlet-name>
		<url-pattern>/baseDstu3/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fhirServletDstu3</servlet-name>
		<url-pattern>/baseStu3/*</url-pattern>
	</servlet-mapping>

<!--
	<servlet-mapping>
		<servlet-name>fhirServletTdl2</servlet-name>
		<url-pattern>/testDataLibraryDstu2/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fhirServletTdl3</servlet-name>
		<url-pattern>/testDataLibraryDstu3/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fhirServletTdl3</servlet-name>
		<url-pattern>/testDataLibraryStu3/*</url-pattern>
	</servlet-mapping>
-->

	<servlet-mapping>
		<servlet-name>fhirServletDstu2</servlet-name>
		<url-pattern>/baseDev/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
