
package ${packageBase};

import java.util.*;

import org.apache.commons.lang3.StringUtils;

import ca.uhn.fhir.jpa.provider.JpaResourceProvider;
import ca.uhn.fhir.jpa.dao.SearchParameterMap;
import ca.uhn.fhir.model.api.*;
import ca.uhn.fhir.model.api.annotation.*;
import ca.uhn.fhir.model.dstu.composite.*;
import ca.uhn.fhir.model.dstu.resource.*;
import ca.uhn.fhir.rest.annotation.*;
import ca.uhn.fhir.rest.param.*;


public class ${className}ResourceProvider extends JpaResourceProvider<${className}> {

	@Override
	public Class<? extends IResource> getResourceType() {
		return ${className}.class;
	}

	@Search()
	public List<${className}> search(
			@Description(shortDefinition="The resource identity")
			@OptionalParam(name="_id")
			StringParam theId, 
#foreach ( $param in $searchParamsWithoutComposite ) #{if}(true) #{end} 

			@Description(shortDefinition="${param.description}")
			@OptionalParam(name="${param.name}")
#if (${param.type} == 'string' )
			StringParam the${param.nameCapitalized}, 
#elseif (${param.type} == 'token' )
			IdentifierDt the${param.nameCapitalized}, 
#elseif (${param.type} == 'date' )
			DateRangeParam the${param.nameCapitalized}, 
#elseif (${param.type} == 'quantity' )
			QuantityDt the${param.nameCapitalized}, 
#elseif (${param.type} == 'number' )
			QuantityDt the${param.nameCapitalized}, 
#elseif (${param.type} == 'reference' )
			ReferenceParam the${param.nameCapitalized}, 
#elseif (${param.type} == 'composite' )
			ReferenceParam the${param.nameCapitalized}, 
#end
#end	

			@IncludeParam(allow= {
#foreach ( $param in $searchParamsReference )
#set ( $haveMore = $foreach.hasNext )
#foreach ( $include in $param.paths )
				"${include.path}" #{if}($foreach.hasNext || $haveMore), #{end}
#end				 
#end
			}) 
			Set<Include> theIncludes			
	) {
		SearchParameterMap paramMap = new SearchParameterMap();
		paramMap.add("_id", theId);					
#foreach ( $param in $searchParamsWithoutComposite ) 
		paramMap.add("${param.name}", the${param.nameCapitalized});	
#end

		paramMap.setIncludes(theIncludes);


		
		return getDao().search(paramMap);
	}
}
