<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	default-autowire="no" default-lazy-init="false"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
	"
	>

	<bean id="myFhirContext${versionCapitalized}" class="ca.uhn.fhir.context.FhirContext" factory-method="for${versionCapitalized}"/>
	
	
	<bean id="mySystemDao${versionCapitalized}" class="ca.uhn.fhir.jpa.dao.FhirSystemDao${versionCapitalized}">
		<property name="context" ref="myFhirContext${versionCapitalized}"/>
	</bean>
	<bean id="mySystemProvider${versionCapitalized}" class="ca.uhn.fhir.jpa.provider.JpaSystemProvider${versionCapitalized}">
		<property name="dao" ref="mySystemDao${versionCapitalized}"/>
	</bean>

	<jpa:repositories base-package="ca.uhn.fhir.jpa.dao.data" />
	
#if ( ${versionCapitalized} != 'Dstu1' )
	<bean id="myFhirContextDstu2Hl7Org" class="ca.uhn.fhir.context.FhirContext" factory-method="forDstu2Hl7Org"/>

	<task:annotation-driven executor="myExecutor" scheduler="myScheduler"/>
	<task:executor id="myExecutor" pool-size="5"/>
	<task:scheduler id="myScheduler" pool-size="10"/>

	<bean id="myJpaValidationSupport${versionCapitalized}" class="ca.uhn.fhir.jpa.dao.JpaValidationSupport${versionCapitalized}"/>
#end

 	<util:list id="myResourceProviders${versionCapitalized}">
#foreach ( $res in $resources )
		<ref bean="my${res.name}Rp${versionCapitalized}"/>
#end
	</util:list>

#foreach ( $res in $resources )
	<bean id="my${res.name}Dao${versionCapitalized}" 
## Some resource types have customized DAOs for resource specific functionality
#if ( ${versionCapitalized} == 'Dstu3' && ${res.name} == 'ConceptMap')
		class="ca.uhn.fhir.jpa.dao.FhirResourceDao${res.name}${versionCapitalized}">
#elseif ( ${versionCapitalized} == 'R4' && ${res.name} == 'ConceptMap')
		class="ca.uhn.fhir.jpa.dao.FhirResourceDao${res.name}${versionCapitalized}">
#elseif ( ${versionCapitalized} != 'Dstu1' && ( ${res.name} == 'Bundle' || ${res.name} == 'Encounter' || ${res.name} == 'Composition' || ${res.name} == 'Everything' || ${res.name} == 'Patient' || ${res.name} == 'Subscription' || ${res.name} == 'ValueSet' || ${res.name} == 'QuestionnaireResponse' || ${res.name} == 'SearchParameter'))
		class="ca.uhn.fhir.jpa.dao.FhirResourceDao${res.name}${versionCapitalized}">
#elseif ( ${versionCapitalized} != 'Dstu1' && ${versionCapitalized} != 'Dstu2' && ${res.name} == 'Observation')
		class="ca.uhn.fhir.jpa.dao.FhirResourceDao${res.name}${versionCapitalized}">
#else
		class="ca.uhn.fhir.jpa.dao.FhirResourceDao${versionCapitalized}">
#end
		<property name="resourceType" value="${resourcePackage}.${res.declaringClassNameComplete}"/>
		<property name="context" ref="myFhirContext${versionCapitalized}"/>
	</bean>
	<bean id="my${res.name}Rp${versionCapitalized}" class="${packageBase}.${res.declaringClassNameComplete}ResourceProvider">
		<property name="dao" ref="my${res.name}Dao${versionCapitalized}"/>
		<property name="context" ref="myFhirContext${versionCapitalized}"/>
	</bean>
 
#end

</beans>
