
package ${packageBase};

import javax.persistence.DiscriminatorValue;
import javax.persistence.Entity;

import ca.uhn.fhir.jpa.entity.BaseResourceTable;
import ca.uhn.fhir.model.dstu.resource.*;

@Entity
@DiscriminatorValue("${className}")
public class ${className}ResourceTable extends BaseResourceTable<${className}> {

	@Override
	public Class<${className}> getResourceType() {
		return ${className}.class;
	}

}
