package ${configPackageBase};

import java.util.ArrayList;
import java.util.List;
import java.util.concurrent.Executor;
import java.util.concurrent.Executors;

import javax.persistence.EntityManager;
import org.springframework.transaction.PlatformTransactionManager;
import ca.uhn.fhir.jpa.api.config.DaoConfig;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.context.annotation.Lazy;
import org.springframework.data.jpa.repository.config.EnableJpaRepositories;
import org.springframework.scheduling.annotation.EnableScheduling;
import org.springframework.scheduling.annotation.SchedulingConfigurer;
import org.springframework.scheduling.config.ScheduledTaskRegistrar;

import ca.uhn.fhir.rest.api.IResourceSupportedSvc;
import ca.uhn.fhir.context.FhirContext;
import ca.uhn.fhir.model.api.IResource;
import ca.uhn.fhir.rest.server.IResourceProvider;
import ca.uhn.fhir.jpa.api.dao.*;
import ca.uhn.fhir.jpa.dao.*;
import ca.uhn.fhir.rest.server.provider.ResourceProviderFactory;

@Configuration
public class GeneratedDaoAndResourceProviderConfig${versionCapitalized} {
@Autowired
FhirContext myFhirContext;

	@Bean(name="myResourceProviders${versionCapitalized}")
	public ResourceProviderFactory resourceProviders${versionCapitalized}(IResourceSupportedSvc theResourceSupportedSvc) {
		ResourceProviderFactory retVal = new ResourceProviderFactory();
#foreach ( $res in $resources )
		retVal.addSupplier(() -> theResourceSupportedSvc.isSupported("${res.name}") ? rp${res.declaringClassNameComplete}${versionCapitalized}() : null);
#end
		return retVal;
	}


	@Bean(name="myResourceDaos${versionCapitalized}")
	public List<IFhirResourceDao<?>> resourceDaos${versionCapitalized}(IResourceSupportedSvc theResourceSupportedSvc) {
		List<IFhirResourceDao<?>> retVal = new ArrayList<IFhirResourceDao<?>>();
#foreach ( $res in $resources )
		if (theResourceSupportedSvc.isSupported("${res.name}")) {
			retVal.add(dao${res.declaringClassNameComplete}${versionCapitalized}());
		}
#end
		return retVal;
	}

#foreach ( $res in $resources )
	@Bean(name="my${res.name}Dao${versionCapitalized}")
	public
#if ( ${versionCapitalized} == 'Dstu2' && ${res.name} == 'ValueSet' )
		IFhirResourceDaoValueSet<ca.uhn.fhir.model.dstu2.resource.ValueSet, ca.uhn.fhir.model.dstu2.composite.CodingDt, ca.uhn.fhir.model.dstu2.composite.CodeableConceptDt>
#elseif ( ${versionCapitalized} == 'Dstu3' && ${res.name} == 'ValueSet' )
		IFhirResourceDaoValueSet<org.hl7.fhir.dstu3.model.ValueSet, org.hl7.fhir.dstu3.model.Coding, org.hl7.fhir.dstu3.model.CodeableConcept>
#elseif ( ${versionCapitalized.startsWith('R')} && ${res.name} == 'ValueSet' )
		IFhirResourceDaoValueSet<org.hl7.fhir.${version}.model.ValueSet, org.hl7.fhir.${version}.model.Coding, org.hl7.fhir.${version}.model.CodeableConcept>
#elseif ( ${versionCapitalized} == 'Dstu3' && ${res.name} == 'CodeSystem' )
		IFhirResourceDaoCodeSystem<org.hl7.fhir.dstu3.model.CodeSystem, org.hl7.fhir.dstu3.model.Coding, org.hl7.fhir.dstu3.model.CodeableConcept>
#elseif ( ${versionCapitalized.startsWith('R')} && ${res.name} == 'CodeSystem' )
		IFhirResourceDaoCodeSystem<org.hl7.fhir.${version}.model.CodeSystem, org.hl7.fhir.${version}.model.Coding, org.hl7.fhir.${version}.model.CodeableConcept>
#elseif ( ${versionCapitalized} == 'Dstu3' && ${res.name} == 'ConceptMap' )
		IFhirResourceDaoConceptMap<org.hl7.fhir.dstu3.model.ConceptMap>
#elseif ( ${versionCapitalized.startsWith('R')} && ${res.name} == 'ConceptMap' )
		IFhirResourceDaoConceptMap<org.hl7.fhir.${version}.model.ConceptMap>
#elseif ( ${versionCapitalized} != 'Dstu1' && (${res.name} == 'Composition' ||  ${res.name} == 'Encounter' || ${res.name} == 'Everything' || ${res.name} == 'Patient' || ${res.name} == 'Subscription' || ${res.name} == 'SearchParameter' || ${res.name} == 'MessageHeader' || ${res.name} == 'StructureDefinition'))
		IFhirResourceDao${res.name}<${resourcePackage}.${res.declaringClassNameComplete}>
#elseif ( ${versionCapitalized} != 'Dstu1' && ${versionCapitalized} != 'Dstu2' && (${res.name} == 'Observation'))
		IFhirResourceDao${res.name}<${resourcePackage}.${res.declaringClassNameComplete}>
#else
		IFhirResourceDao<${resourcePackage}.${res.declaringClassNameComplete}>
#end
		dao${res.declaringClassNameComplete}${versionCapitalized}() {

#if ( ${versionCapitalized} == 'Dstu3' && ${res.name} == 'ConceptMap' )
		ca.uhn.fhir.jpa.dao${package_suffix}.FhirResourceDao${res.name}${versionCapitalized} retVal;
		retVal = new ca.uhn.fhir.jpa.dao${package_suffix}.FhirResourceDao${res.name}${versionCapitalized}();
#elseif ( ${versionCapitalized.startsWith('R')} && ${res.name} == 'ConceptMap' )
		ca.uhn.fhir.jpa.dao${package_suffix}.FhirResourceDao${res.name}${versionCapitalized} retVal;
		retVal = new ca.uhn.fhir.jpa.dao${package_suffix}.FhirResourceDao${res.name}${versionCapitalized}();
#elseif ( ${res.name} == 'Bundle' || ${res.name} == 'Encounter' || ${res.name} == 'Everything' || ${res.name} == 'Patient' || ${res.name} == 'Subscription' || ${res.name} == 'ValueSet' || ${res.name} == 'QuestionnaireResponse' || ${res.name} == 'SearchParameter' || ${res.name} == 'CodeSystem'  || ${res.name} == 'MessageHeader' || ${res.name} == 'Composition' || ${res.name} == 'StructureDefinition')
    	ca.uhn.fhir.jpa.dao${package_suffix}.FhirResourceDao${res.name}${versionCapitalized} retVal;
		retVal = new ca.uhn.fhir.jpa.dao${package_suffix}.FhirResourceDao${res.name}${versionCapitalized}();
#elseif ( ${versionCapitalized} != 'Dstu1' && ${versionCapitalized} != 'Dstu2' && ${res.name} == 'Observation')
    	ca.uhn.fhir.jpa.dao${package_suffix}.FhirResourceDao${res.name}${versionCapitalized} retVal;
		retVal = new ca.uhn.fhir.jpa.dao${package_suffix}.FhirResourceDao${res.name}${versionCapitalized}();
#else
		ca.uhn.fhir.jpa.dao.BaseHapiFhirResourceDao<${resourcePackage}.${res.declaringClassNameComplete}> retVal;
		retVal = new ca.uhn.fhir.jpa.dao.JpaResourceDao<${resourcePackage}.${res.declaringClassNameComplete}>();
#end
		retVal.setResourceType(${resourcePackage}.${res.declaringClassNameComplete}.class);
		retVal.setContext(myFhirContext);
		return retVal;
	}

	@Bean(name="my${res.declaringClassNameComplete}Rp${versionCapitalized}")
	@Lazy
	public ca.uhn.fhir.jpa.rp.${version}.${res.declaringClassNameComplete}ResourceProvider rp${res.declaringClassNameComplete}${versionCapitalized}() {
		ca.uhn.fhir.jpa.rp.${version}.${res.declaringClassNameComplete}ResourceProvider retVal;
		retVal = new ca.uhn.fhir.jpa.rp.${version}.${res.declaringClassNameComplete}ResourceProvider();
		retVal.setContext(myFhirContext);
		retVal.setDao(dao${res.declaringClassNameComplete}${versionCapitalized}());
		return retVal;
	}

#end



	
	
}
