#parse ( "/vm/templates.vm" )

package ${packageBase}.resource;

import java.util.*;
import ca.uhn.fhir.model.api.*;
import ca.uhn.fhir.model.api.annotation.*;
import ca.uhn.fhir.model.primitive.*;
import ${packageBase}.composite.*;
import ${packageBase}.valueset.*;

/**
 * HAPI/FHIR <b>${className}</b> Resource
 * (${shortName})
 *
 * <p>
 * <b>Definition:</b>
 * ${definition}
 * </p> 
 *
 * <p>
 * <b>Requirements:</b>
 * ${requirements}
 * </p> 
 */
@ResourceDef(name="${className}", profile="${profile}")
public class ${className} extends BaseResource implements IResource {

#foreach ( $param in $searchParams )
	/**
	 * Search parameter constant for <b>${param.name}</b>
	 * <p>
	 * Description: <b>${param.description}</b><br/>
	 * Type: <b>${param.type}</b><br/>
	 * Path: <b>${param.path}</b><br/>
	 * </p>
	 */
	public static final String $param.constantName = "${param.name}";

#end

#childExtensionFields( $childExtensionTypes )
#childVars( $children )
#childAccessors( $children )
#childResourceBlocks($resourceBlockChildren)

#childExtensionTypes( $childExtensionTypes )

}