<!DOCTYPE html>
<!--/*
************************************************************
This file is a Thymeleaf template for the 
************************************************************
*/-->

<html>
	<head>
		<script src="shCore.js" type="text/javascript"></script>
		<script src="shBrushJScript.js" type="text/javascript"></script>
		<script src="shBrushXml.js" type="text/javascript"></script>
		<script src="shBrushPlain.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="shCore.css"/>
		<link rel="stylesheet" type="text/css" href="shThemeDefault.css"/>
		<script type="text/javascript" src="jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="PublicTester.js"></script>
		<script type="text/javascript">
			var serverBase = "<th:block th:utext="${base}"/>";			
		</script>
		<link rel="stylesheet" type="text/css" href="PublicTester.css"/>
	</head>
	<body>
		<table border="0" width="100%">
			<tr>
				<td align="left"><img src="hapi_fhir_banner.png"/></td>
				<td align="right"><img src="hapi_fhir_banner_right.png"/></td>
			</tr>
		</table>
		<div class="bodyHeaderBlock">
			Executed invocation against FHIR RESTful Server
		</div>

		<table border="0" width="100%" cellpadding="0" cellspacing="0" style="margin-top: 4px;">
			<tr>
				<td width="29%" valign="top">
					
					<div class="bodyHeaderBlock">
						Actions
					</div>
					<table border="0">
						<tr>
							<td class="propertyKeyCell">Something</td>
							<td>Something</td>
						</tr>
					</table>
					
				</td>
				
				<td width="1%"/>
				
				<td width="70%" valign="top">

					<div class="bodyHeaderBlock">
						Request
					</div>
					<table border="0" class="propertyTable">
						<tr>
							<td class="propertyKeyCell">Action</td>
							<td th:text="${action}">GET</td>
						</tr>
						<tr>
							<td class="propertyKeyCell">URL</td>
							<td>
								<a href="http://foo.com/fhir" th:href="${requestUrl}"><th:block th:text="${requestUrl}">http://foo.com/fhir</th:block></a> 
							</td>
						</tr>
						<tr > <!-- th:if="${not #lists.isEmpty(requestHeaders)}" -->
							<td valign="top" class="propertyKeyCell">Headers</td>
							<td valign="top">
								<div th:each="header : ${requestHeaders}">
									<span class="headerName" th:text="${header.name} + ': '"/>
									<span class="headerValue" th:text="${header.value}"/>
								</div>
							</td>
						</tr>
						<tr th:if="${requestBody} != null">
							<td valign="top" class="propertyKeyCell">Request Body</td>
							<td valign="top"><pre th:text="${requestBody}" th:class="${requestSyntaxHighlighterClass}">{}</pre></td>
						</tr>
					</table>
					
					<div class="bodyHeaderBlock">
						Response 
					</div>
					<table border="0" class="propertyTable">
						<tr>
							<td valign="top" class="propertyKeyCell">Status</td>
							<td valign="top" th:text="${resultStatus}">HTTP 200 OK</td>
						</tr>
						<tr > <!-- th:if="${not #lists.isEmpty(responseHeaders)}" -->
							<td valign="top" class="propertyKeyCell">Headers</td>
							<td valign="top">
								<div th:each="header : ${responseHeaders}">
									<span class="headerName"  th:text="${header.name} + ': '"/>
									<span class="headerValue"  th:text="${header.value}"/>
								</div>
							</td>
						</tr>
						<tr th:if="${!#strings.isEmpty(resultBody)}">
							<td valign="top" class="propertyKeyCell">Result Body</td>
							<td valign="top"><pre th:text="${resultBody}" th:class="${resultSyntaxHighlighterClass}">{}</pre></td>
						</tr>
						<tr th:if="${!#strings.isEmpty(narrative)}">
							<td valign="top" class="propertyKeyCell">Result Narrative</td>
							<td valign="top" th:utext="${narrative}"></td>
						</tr>
					</table>
				
				</td>
			</tr>
		</table>
		
		<script type="text/javascript">
			SyntaxHighlighter.all();
		</script>
		
	</body>
</html>
