A.selectedFunctionLink {
	text-decoration: none;
	background: #E0FFE0;
	border: 1px #80C080 solid;
	color: #005000;
}

BODY {
	font-family: sans-serif;
}

SPAN.headerName {
	color: #505080;
}

SPAN.headerValue {
	color: #70A070;
}

DIV.bodyHeaderBlock {
	background-color: #E0E0E0;
	margin-top: 5px;
	border-radius: 5px;
	padding: 5px;
}

DIV.textareaWrapper {
    position:relative;
    height:100%;
    width:100%;
}

DIV.textareaWrapper TEXTAREA {
    width:95%;
    overflow: scroll;
}

TABLE.propertyTable {
	margin-left: 4px;
	width: 95%;
}

TD.propertyKeyCell {
	background-color: #E0E0FF;
	border-radius: 3px;
	padding: 3px;
	width: 100px;
}

TD.testerNameCell {
	background-color: #E0FFE0;
	border-radius: 3px;
	padding: 3px;
}

.syntaxhighlighter {
	font-size: 0.85em !important;
}
