<!DOCTYPE html>
<!--/*
************************************************************
This file is a Thymeleaf template for the 
************************************************************
*/-->

<html>
	<head>
		<script type="text/javascript">
			var serverBase = "<th:block th:text="${base}"/>";	
			var conformance = <th:block th:utext="${jsonEncodedConf}"/>;
		</script>
		<script type="text/javascript" src="jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="PublicTester.js"></script>
		<link rel="stylesheet" type="text/css" href="PublicTester.css"/>
	</head>
	<body>
		<table border="0" width="100%">
			<tr>
				<td align="left"><img src="hapi_fhir_banner.png"/></td>
				<td align="right"><img src="hapi_fhir_banner_right.png"/></td>
			</tr>
		</table>
		<div class="bodyHeaderBlock">
			This is a RESTful server tester, which can be used to send requests to, and receive responses 
			from the server at the following URL:<br/>
			<a href="http://foo.com/fhir" th:href="${base}"><th:block th:text="${base}">http://foo.com/fhir</th:block></a> 
		</div>
		
		<table border="0" width="100%" cellpadding="0" cellspacing="0" style="margin-top: 4px;">
			<tr>
				<td width="29%" valign="top">
					
					<div class="bodyHeaderBlock">
						Software Details
					</div>
					<table border="0">
						<tr>
							<td class="propertyKeyCell">Software</td>
							<td th:text="${conf.software.name}">HAPI Restful Server</td>
						</tr>
						<tr>
							<td class="propertyKeyCell">Version</td>
							<td th:text="${conf.software.version}">1.1.1</td>
						</tr>
					</table>
					
				</td>
				
				<td width="1%"/>
				
				<td width="70%" valign="top">
					
					<th:block th:each="rest : ${conf.rest}">
						<th:block th:each="resource, resIterStat : ${rest.resource}" th:with="expandoId='resExpando'+${resIterStat.count}">
							<div class="bodyHeaderBlock">
								Resource: <th:block th:text="${resource.type.valueAsString}"/> 
							</div>
							<table border="0" th:id="${expandoId}">
								<tr>
									<td valign="top" class="propertyKeyCell">Supports operations:</td>
									<td valign="top">
										<th:span th:each="operation : ${resource.operation}">
											<th:block th:switch="${operation.code.value}">
											    <a th:case="'read'" th:href="'javascript:displayRead(\'' + ${expandoId} + '\', \'' + ${resource.type.valueAsString} + '\');'">read</a>
											    <a th:case="'vread'" th:href="'javascript:displayVRead(\'' + ${expandoId} + '\', \'' + ${resource.type.valueAsString} + '\');'">vread</a>
											    <a th:case="'search-type'" th:href="'javascript:displaySearchType(\'' + ${expandoId} + '\', \'' + ${resource.type.valueAsString} + '\');'">search-type</a>
												<span th:case="*" th:text="${operation.code.value}"/>
											</th:block>
										</th:span>												
									</td>
								</tr>
							</table>
							<div>
								
							</div>
						</th:block>
					</th:block>
				
				</td>
			</tr>
		</table>
		
		
	</body>
</html>
