<!--/* FunctionalStatus -->
<!--
Assessment: ClinicalImpression.code.text ||  ClinicalImpression.code[x].display
Status: ClinicalImpression.status.code
Finding:  ClinicalImpression.summary
Comments: ClinicalImpression.note[x].text (display all notes separated by <br /> )
Date: ClinicalImpression.effectiveDateTime
*/-->
<div xmlns:th="http://www.thymeleaf.org">
   <table class="hapiPropertyTable">
      <caption>Functional Status</caption>
      <thead>
      <tr>
         <th>Assessment</th>
         <th>Status</th>
         <th>Finding</th>
         <th>Comments</th>
         <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="entry : ${resource.entry}" th:object="${entry.getResource()}">
         <th:block th:unless='*{getResourceType().name() == "Composition"}'>
            <th:block th:with="extension=${entry.getResource().getExtensionByUrl('http://hl7.org/fhir/StructureDefinition/narrativeLink').getValue().getValue()}">
               <tr th:id="${#strings.arraySplit(extension, '#')[1]}">
                  <td th:insert="IpsUtilityFragments :: codeableConcept (cc=*{getCode()},attr='display')">Assessment</td>
                  <td th:text="*{getStatus().getCode()}">Status</td>
                  <td th:text="*{getSummary()}">Finding</td>
                  <td th:insert="IpsUtilityFragments :: concat (list=*{getNote()},attr='text')">Comments</td>
                  <td th:insert="IpsUtilityFragments :: renderEffective (effective=*{getEffective()})">Date</td>
               </tr>
            </th:block>
         </th:block>
      </th:block>
      </tbody>
   </table>
</div>
