<!--/* HistoryOfProcedures -->
<!--
Procedure: Procedure.code.text || Procedure.code.coding[x].display
Comments: Procedure.note[x].text(display all notes separated by <br /> )
Date: Procedure.performedDateTime
*/-->
<div xmlns:th="http://www.thymeleaf.org">
   <table class="hapiPropertyTable">
      <caption>History Of Procedures</caption>
      <thead>
      <tr>
         <th>Procedure</th>
         <th>Comments</th>
         <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="entry : ${resource.entry}" th:object="${entry.getResource()}">
         <th:block th:unless='*{getResourceType().name() == "Composition"}'>
            <th:block th:with="extension=${entry.getResource().getExtensionByUrl('http://hl7.org/fhir/StructureDefinition/narrativeLink').getValue().getValue()}">
               <tr th:id="${#strings.arraySplit(extension, '#')[1]}">
                  <td th:insert="IpsUtilityFragments :: codeableConcept (cc=*{getCode()},attr='display')">Procedure</td>
                  <td th:insert="IpsUtilityFragments :: concat (list=*{getNote()},attr='text')">Comments</td>
                  <td th:insert=":: renderPerformed (performed=*{getPerformed()})">Date</td>
               </tr>
            </th:block>
         </th:block>
      </th:block>
      </tbody>
   </table>
</div>
