<!DOCTYPE html>
<html lang="en">
	<div th:fragment="banner" class="well">
		<p>
			This is the home for the FHIR test server operated by
			<a href="http://uhn.ca">University Health Network</a>.
		</p>
		<p>
			<b style="color: red;">This is not a production server!</b> 
			Do not store any information here that contains personal health information
			or otherwise confidential information. This server will be regularly purged 
			and reloaded with fixed test data. 
		</p>
		<p>
			Here are some things you might wish to try:
		</p>
		<ul>
			<li>
				View a
				<a href="http://fhirtest.uhn.ca/search?serverId=home&encoding=json&pretty=true&resource=Patient&param.0.type=string&param.0.name=_id&param.0.0=&resource-search-limit=">list of patients</a>
				on this server.
			</li>
			<li>
				Construct a
				<a href="http://fhirtest.uhn.ca/resource?serverId=home&encoding=json&pretty=true&resource=Patient">search query</a>
				on this server.
			</li>
			<li>
				Access a 
				<a href="http://fhirtest.uhn.ca/home?serverId=furore">different server</a>
				(use the <b>Server</b> menu at the top of the page to see a list of public FHIR servers)
			</li>
		</ul>
	</div>
</html>
