<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

	<properties>
		<title>HL7 FHIR Converter</title>
		<author email="jamesagnew@users.sourceforge.net">James Agnew</author>
	</properties>

	<body>

		<section name="HL7 FHIR Converter">

			<macro name="toc">
			</macro>
			
			<p>
				Beginning in HAPI FHIR 2.3, a new experimental feature called
				<code>hapi-fhir-converter</code> has been added to the project. This 
				is an <b>experimental feature</b> so use it with caution!
			</p>

			<p>
				This feature allows automated conversion from earlier versions
				of the FHIR structures to a later version.
			</p>
			
			<p>
				The following page shows some basic examples. Please get in touch
				if you are able to contribute better examples!
			</p>
			
			<subsection name="Importing the Module">
				<p>
					To use the <code>hapi-fhir-converter</code> module, import the following
					dependency into your project pom.xml (or equivalent)
				</p>
				<source><![CDATA[<dependency>
	<groupId>ca.uhn.hapi.fhir</groupId>
	<artifactId>hapi-fhir-converter</artifactId>
	<version>${project.version}</version>
</dependency>]]></source>
			</subsection>
			
			<subsection name="Converting from DSTU2 to DSTU3">
				<p>
					The following example shows a conversion from a
					<code>hapi-fhir-structures-hl7org-dstu2</code>
					structure to a
					<code>hapi-fhir-structures-dstu3</code> structure.
				</p>
				<macro name="snippet">
					<param name="id" value="1020"/>
					<param name="file" value="examples/src/main/java/example/ConverterExamples.java"/>
				</macro>
			</subsection>
			
			<subsection name="Converting from DSTU2.1 to DSTU3">
				<p>
					The following example shows a conversion from a
					<code>hapi-fhir-structures-dstu2.1</code>
					structure to a
					<code>hapi-fhir-structures-dstu3</code> structure.
				</p>
				<macro name="snippet">
					<param name="id" value="1420"/>
					<param name="file" value="examples/src/main/java/example/ConverterExamples.java"/>
				</macro>
			</subsection>

		</section>
		
	</body>

</document>
