<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

	<properties>
		<title>Android Support</title>
		<author email="jamesagnew@users.sourceforge.net">James Agnew</author>
	</properties>

	<body>

		<section name="Android Client Development">

			<p>
				HAPI now has a specially built binary (JAR) which can be used on Android. Android developers
				may use this JAR to take advantage of the FHIR model classes, and the FHIR client (running a FHIR server
				on Android is not yet supported. Help wanted!)
			</p>

			<p>
				The Android JAR ships as a "shade JAR", meaning it is a single JAR containing all of the 
				dependencies required in order to use HAPI FHIR. You should not need to include any other
				libraries.
			</p>
			<p>
				Note that the Android JAR is still new and hasn't received as much testing as other
				parts of the library. We would greatly appreciate feedback, testing, etc. Also note that
				because mobile apps run on less powerful hardware compared to desktop and server applications,
				it is all the more important to keep a single instance of the <code>FhirContext</code>
				around for good performance, since this object is expensive to create. We are hoping to 
				improve performance of the creation of this object in a future release. If you are an
				Android developer and would like to help with this, please get in touch!
			</p>
			
			<subsection name="Get the Android JAR">
			
				<p>
					To add the HAPI library via Gradle, use the following 
					dependency. Note the following things:
				</p>
				<ul>
					<li>The classifier should be set to the version of FHIR you want to support.</li>
					<li>
						You need to excluded a few things in order to get this to work. This is
						a quirk because the way HAPI is built and will hopefully be resolved in a future
						release. 
					</li>
				</ul>
				<source><![CDATA[dependencies {
	compile "ca.uhn.hapi.fhir:hapi-fhir-android:2.2:dstu2@jar"
}]]></source>
			
				<p>
					You may also download a copy from the GitHub 
					<a href="https://github.com/jamesagnew/hapi-fhir/releases">Releases</a> page.
				</p>
			</subsection>
		</section>
		
		<section name="Performance">
			<p>
				On mobile devices, performance problems are particularly noticeable. This
				is made worse by the fact that some Android devices have much slower performance
				than modern desktop computers. See the
				<a href="./doc_rest_client_http_config.html#performance">Client Configuration Performance</a>
				page for some tips on how to improve client performance.
			</p>
		</section>
		
		<section name="Examples">
			
			<p>
				The following is intended to be a selection of publicly available open source
				Android applications which use HAPI FHIR and might be useful as a reference.
			</p>
			<p>
				If you know of others, please let us know!
			</p>
			<ul>
				<li>
					<a href="https://github.com/hapifhir/hapi-fhir-android-integration-test">https://github.com/hapifhir/hapi-fhir-android-integration-test</a>
					- hapi-fhir-android Integration Test and Reference Application is our test platform for validating new releases. Created by Thomas Andersen.
				</li>
				<li>
					<a href="https://github.com/SynappzMA/FHIR-Android">https://github.com/SynappzMA/FHIR-Android</a>
					- Nice FHIR DSTU2 search app
				</li>
			</ul>
			
		</section>
		
	</body>

</document>
