<th:block th:fragment="actionDefFrag(actions, contained, num)">
    <span th:each="res : ${actions}" th:with="counter=${num}*25">
        <b>Step: </b>
        <br/>
        <span th:style="'padding-left: ' + ${#strings.concat(counter, 'px')} + ';'" th:if="${res.hasLabel()}">
            <b>name: </b> <span th:narrative="${res.label}"></span>
            <br/>
        </span>
        <span th:style="'padding-left: ' + ${#strings.concat(counter, 'px')} + ';'" th:if="${res.hasTitle()}">
            <b>title: </b> <span th:narrative="${res.title}"></span>
            <br/>
        </span>
        <span th:style="'padding-left: ' + ${#strings.concat(counter, 'px')} + ';'" th:if="${res.hasDescription()}">
            <b>description: </b> <span th:narrative="${res.description}"></span>
            <br/>
        </span>
        <span th:style="'padding-left: ' + ${#strings.concat(counter, 'px')} + ';'" th:if="${res.hasTextEquivalent()}">
            <b>text: </b> <span th:narrative="${res.textEquivalent}"></span>
            <br/>
        </span>
        <span th:style="'padding-left: ' + ${#strings.concat(counter, 'px')} + ';'" th:each="con : ${res.condition}">
            <b>condition: </b>
            <br/>
            <span th:style="'padding-left: ' + ${#strings.concat(counter+25, 'px')} + ';'">
                <b>type: </b>
                <span th:narrative="${con.kind.toCode()}"></span>
                <br/>
            </span>
            <span th:style="'padding-left: ' + ${#strings.concat(counter+25, 'px')} + ';'" th:if="${con.hasDescription()}">
                <b>description: </b>
                <span th:narrative="${con.description}"></span>
                <br/>
            </span>
            <span th:style="'padding-left: ' + ${#strings.concat(counter+25, 'px')} + ';'" th:if="${con.hasExpression()}">
                <b>expression: </b>
                <span th:narrative="${con.expression}"></span>
                <br/>
            </span>
        </span>
        <span th:style="'padding-left: ' + ${#strings.concat(counter, 'px')} + ';'" th:if="${res.hasActivityDefinition()}">
            <b>condition: </b>
            <br/>
            <span th:style="'padding-left: ' + ${#strings.concat(counter+25, 'px')} + ';'" th:if="${res.activityDefinition.hasReference()}">
                <b>reference: </b>
                <br/>
                <span th:style="'padding-left: ' + ${#strings.concat(counter+50, 'px')} + ';'" th:narrative="${res.activityDefinition.reference}"></span>
                <br/>
                <span th:style="'padding-left: ' + ${#strings.concat(counter+50, 'px')} + ';'" th:each="inline : ${contained}">
                    <span th:if="${res.activityDefinition.reference.contains(inline.id)}">
                        <span th:style="'padding-left: ' + ${#strings.concat(counter+75, 'px')} + ';'" th:if="${inline.hasName()}">
                            <b>name: </b>
                            <span th:narrative="${inline.name}"></span>
                            <br/>
                        </span>
                        <span th:style="'padding-left: ' + ${#strings.concat(counter+75, 'px')} + ';'" th:if="${inline.hasTitle()}">
                            <b>title: </b>
                            <span th:narrative="${inline.title}"></span>
                            <br/>
                        </span>
                        <span th:style="'padding-left: ' + ${#strings.concat(counter+75, 'px')} + ';'" th:if="${inline.hasDescription()}">
                            <b>description: </b>
                            <span th:narrative="${inline.description}"></span>
                            <br/>
                        </span>
                        <span th:style="'padding-left: ' + ${#strings.concat(counter+75, 'px')} + ';'" th:if="${inline.hasPurpose()}">
                            <b>purpose: </b>
                            <span th:narrative="${inline.purpose}"></span>
                            <br/>
                        </span>
                        <span th:style="'padding-left: ' + ${#strings.concat(counter+75, 'px')} + ';'" th:if="${inline.hasUsage()}">
                            <b>usage: </b>
                            <span th:narrative="${inline.usage}"></span>
                            <br/>
                        </span>
                        <span th:style="'padding-left: ' + ${#strings.concat(counter+75, 'px')} + ';'" th:each="related : ${inline.relatedArtifact}">
                            <b>related:</b>
                            <br/>
                            <span th:style="'padding-left: ' + ${#strings.concat(counter+100, 'px')} + ';'" >
                                <b>type: </b>
                                <span th:narrative="${related.type.toCode()}"></span>
                                <br/>
                            </span>
                            <span th:style="'padding-left: ' + ${#strings.concat(counter+100, 'px')} + ';'" th:if="${related.hasDisplay()}">
                                <b>display: </b>
                                <span th:narrative="${related.display}"></span>
                                <br/>
                            </span>
                        </span>
                        <span th:style="'padding-left: ' + ${#strings.concat(counter+75, 'px')} + ';'" th:if="${inline.hasCategory()}">
                            <b>category: </b>
                            <span th:narrative="${inline.category.toCode()}"></span>
                            <br/>
                        </span>
                    </span>
                </span>
            </span>
        </span>
        <span th:style="'padding-left: ' + ${#strings.concat(counter, 'px')} + ';'" th:insert="actiondefcomponent :: actionDefFrag(${res.actionDefinition}, ${contained}, ${num + 1})"></span>
    </span>
</th:block>