<th:block th:fragment="actionDefFrag(actions, contained)">
    <tr th:each="res : ${actions}">
        <td><b>Step: </b></td>
        <tr th:if="${res.hasLabel()}">
            <tr style="padding-left: 25px;"><b>name: </b></tr>
            <tr th:narrative="${res.label}"></tr>
        </tr>
        <tr th:if="${res.hasTitle()}">
            <tr style="padding-left: 25px;"><b>title: </b></tr>
            <tr th:narrative="${res.title}"></tr>
        </tr>
        <tr th:if="${res.hasDescription()}">
            <tr style="padding-left: 25px;"><b>description: </b></tr>
            <tr th:narrative="${res.description}"></tr>
        </tr>
        <tr th:if="${res.hasTextEquivalent()}">
            <tr style="padding-left: 25px;"><b>text: </b></tr>
            <tr th:narrative="${res.textEquivalent}"></tr>
        </tr>

        <!-- Conditions -->
        <tr style="padding-left: 25px;" th:each="con : ${res.condition}">
            <tr><td><b>condition: </b></td></tr>
            <tr style="padding-left: 25px;">
                <td><b>type: </b></td>
                <td th:narrative="${con.kind.toCode()}"></td>
            </tr>
            <tr style="padding-left: 25px;" th:if="${con.hasDescription()}">
                <td><b>description: </b></td>
                <td th:narrative="${con.description}"></td>
            </tr>
            <tr style="padding-left: 25px;" th:if="${con.hasExpression()}">
                <td><b>expression: </b></td>
                <td th:narrative="${con.expression}"></td>
            </tr>
        </tr>

        <!-- Activity Definitions -->
        <td style="padding-left: 25px;" th:if="${res.hasActivityDefinition()}">
            <b>condition: </b>
            <tr style="padding-left: 25px;" th:if="${res.activityDefinition.hasReference()}">
                <b>reference: </b>
                <td th:narrative="${res.activityDefinition.reference}"></td>
                <td th:each="inline : ${contained}">
                    <tr style="padding-left: 25px;" th:if="${res.activityDefinition.reference.contains(inline.id)}">
                        <tr th:if="${inline.hasName()}">
                            <b>name: </b>
                            <td th:narrative="${inline.name}"></td>
                        </tr>
                        <tr th:if="${inline.hasTitle()}">
                            <b>title: </b>
                            <td th:narrative="${inline.title}"></td>
                        </tr>
                        <tr th:if="${inline.hasDescription()}">
                            <b>description: </b>
                            <td th:narrative="${inline.description}"></td>
                        </tr>
                        <tr th:if="${inline.hasPurpose()}">
                            <b>purpose: </b>
                            <td th:narrative="${inline.purpose}"></td>
                        </tr>
                        <tr th:if="${inline.hasUsage()}">
                            <b>usage: </b>
                            <td th:narrative="${inline.usage}"></td>
                        </tr>
                        <tr th:each="related : ${inline.relatedArtifact}">
                            <b>related:</b>
                            <tr style="padding-left: 25px;">
                                <b>type: </b>
                                <td th:narrative="${related.type.toCode()}"></td>
                            </tr>
                            <tr style="padding-left: 25px;" th:if="${related.hasDisplay()}">
                                <b>display: </b>
                                <td th:narrative="${related.display}"></td>
                            </tr>
                        </tr>
                        <tr th:if="${inline.hasCategory()}">
                            <b>category: </b>
                            <td th:narrative="${inline.category.toCode()}"></td>
                        </tr>
                    </tr>
                </td>
            </tr>
        </td>
        <td style="padding-left: 25px;" th:include="actiondefcomponent :: actionDefFrag(${res.actionDefinition}, ${contained})"></td>
    </tr>
</th:block>