<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <table th:if="${resource.hasId()}" class="grid dict">
        <tr>
            <td><b>Id: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.id}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasId() and not resource.hasIdentifier()}"></p>

    <table th:each="ident : ${resource.identifier}" class="grid dict">
        <tr>
            <td><br/><b>Identifier: </b></td>
        </tr>
        <tr th:if="${ident.hasSystem()}">
            <td style="padding-left: 25px; padding-right: 25px;">
                <b>system: </b> <span th:narrative="${ident.system}"></span>
            </td>
        </tr>
        <tr th:if="${ident.hasValue()}">
            <td style="padding-left: 25px; padding-right: 25px;">
                <b>value: </b> <span th:narrative="${ident.value}"></span>
            </td>
        </tr>
    </table>

    <p th:if="${resource.hasIdentifier()}"></p>

    <table th:if="${resource.hasTitle()}" class="grid dict">
        <tr>
            <td><b>Title: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.title}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasTitle()}"></p>

    <table class="grid dict">
        <tr>
            <td><b>Status: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.status.toCode()}"></td>
        </tr>
    </table>

    <p></p>

    <table th:if="${resource.hasDescription()}" class="grid dict">
        <tr>
            <td><b>Description: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.description}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasDescription()}"></p>

    <table th:if="${resource.hasPurpose()}" class="grid dict">
        <tr>
            <td><b>Purpose: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.purpose}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasPurpose()}"></p>

    <table th:if="${resource.hasUsage()}" class="grid dict">
        <tr>
            <td><b>Usage: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.usage}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasUsage()}"></p>

    <table th:each="context : ${resource.useContext}" class="grid dict">
        <tr>
            <td><b>Use Context: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${context}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasUseContext()}"></p>

    <table th:each="topics : ${resource.topic}" class="grid dict">
        <tr>
            <td><b>Topic: </b></td>
        </tr>
        <tr>
            <td style="padding-right: 25px;" th:narrative="${topics}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasTopic()}"></p>

    <table th:each="cont : ${resource.contributor}" class="grid dict">
        <tr>
            <td><b>Contributor: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;"><b><span th:narrative="${cont.type.toCode()}"></span>: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 50px; padding-right: 25px;" th:narrative="${cont.name}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasContributor()}"></p>

    <table th:each="related : ${resource.relatedArtifact}" class="grid dict">
        <tr>
            <td><b>Related: </b></td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${related}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasRelatedArtifact()}"></p>

    <table th:each="lib : ${resource.library}" class="grid dict">
        <tr>
            <td><b>Library: </b></td>
        </tr>
        <tr th:if="${lib.hasReference()}">
            <td style="padding-left: 25px; padding-right: 25px;">
                <b>reference: </b>
                <span th:narrative="${lib.reference}"></span>
            </td>
        </tr>
        <tr th:if="${lib.hasIdentifier()}">
            <td style="padding-left: 25px; padding-right: 25px;">
                <b>identifier: </b>
                <span th:narrative="${lib.identifier}"></span>
            </td>
        </tr>
        <tr th:if="${lib.hasDisplay()}">
            <td style="padding-left: 25px; padding-right: 25px;">
                <b>display: </b>
                <span th:narrative="${lib.display}"></span>
            </td>
        </tr>
    </table>

    <p th:if="${resource.hasLibrary()}"></p>

    <table th:if="${resource.hasCategory()}" class="grid dict">
        <tr>
            <td><b>Category: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.category.toCode()}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasCategory()}"></p>

    <table th:if="${resource.hasCode()}" class="grid dict">
        <tr>
            <td><b>Code: </b></td>
        </tr>
        <tr>
            <td style="padding-right: 25px;" th:narrative="${resource.code}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasCode()}"></p>

    <table th:if="${resource.hasTimingCodeableConcept()}" class="grid dict">
        <tr>
            <td><b>Timing: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.timingCodeableConcept}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasTimingCodeableConcept()}"></p>

    <table th:if="${resource.hasLocation()}" class="grid dict">
        <tr>
            <td><b>Location: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.location}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasLocation()}"></p>

    <table th:each="participant : ${resource.participantType}" class="grid dict">
        <tr>
            <td><b>Participant: </b></td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${participant.getValue().toCode()}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasParticipantType()}"></p>

    <table th:if="${resource.hasProductCodeableConcept()}" class="grid dict">
        <tr>
            <td><b>Product Concept: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.productCodeableConcept}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasProductCodeableConcept()}"></p>

    <table th:if="${resource.hasQuantity()}" class="grid dict">
        <tr>
            <td><b>Quantity: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.quantity}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasQuantity()}"></p>
</div>