<th:block th:if="${not resource.empty}">
    <p style="margin-bottom: 5px;" th:if="${resource.hasTitle()}">
        <b>title: </b>
        <span th:narrative="${resource.title}"></span>
    </p>
    <p style="margin-bottom: 5px;" th:if="${resource.hasContentType()}">
        <b>type: </b>
        <span th:narrative="${resource.contentType}"></span>
    </p>
    <p style="margin-bottom: 5px;" th:if="${resource.hasLanguage()}">
        <b>language: </b>
        <span th:narrative="${resource.language}"></span>
    </p>
    <p style="margin-bottom: 5px;" th:if="${resource.hasUrl()}">
        <b>url: </b>
        <span th:narrative="${resource.url}"></span>
    </p>
</th:block>