<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <p style="margin-bottom: 5px;" th:if="${resource.hasId()}">
        <b>id: </b>
        <span th:narrative="${resource.id}"></span>
    </p>

    <p style="margin-bottom: 5px;">
        <b>type: </b>
        <span th:narrative="${resource.type}"></span>
    </p>

    <p style="margin-bottom: 5px;" th:each="pro : ${resource.profile}">
        <b>profile: </b>
        <span th:narrative="${pro}"></span>
    </p>

    <p style="margin-bottom: 5px;" th:each="must : ${resource.mustSupport}">
        <b>must support: </b>
        <span th:narrative="${must}"></span>
    </p>

    <p style="margin-bottom: 5px;" th:each="cFilter : ${resource.codeFilter}">
        <b>code filter:</b>
        <br/>
        <span style="padding-left: 25px;">
            <b>path: </b>
            <span th:narrative="${cFilter.path}"></span>
        </span>
        <br  th:if="${cFilter.hasValueSetStringType() or cFilter.hasValueSetReference()}" />
        <span style="padding-left: 25px;" th:if="${cFilter.hasValueSetStringType()}">
            <b>valueset: </b>
            <span th:narrative="${cFilter.valueSetStringType}"></span>
        </span>
        <span style="padding-left: 25px;" th:if="${cFilter.hasValueSetReference()}">
            <b>valueset: </b>
            <span th:narrative="${cFilter.valueSetReference}"></span>
        </span>
        <br th:if="${cFilter.hasValueCode()}" />
        <span style="padding-left: 25px;" th:each="codes : ${cFilter.valueCode}">
            <b>code:</b>
            <span th:narrative="${codes}"></span>
        </span>
        <br th:if="${cFilter.hasValueCoding()}" />
        <span style="padding-left: 25px;" th:each="codings : ${cFilter.valueCoding}">
            <br />
            <b>coding:</b>
            <span style="padding-left: 25px;" th:narrative="${codings}"></span>
        </span>
        <br th:if="${cFilter.hasValueCodeableConcept()}" />
        <span style="padding-left: 25px;" th:each="concepts : ${cFilter.valueCodeableConcept}">
            <b>concept:</b>
            <span style="padding-left: 25px;" th:narrative="${concepts}"></span>
        </span>
    </p>

    <p style="margin-bottom: 5px;" th:each="dFilter : ${resource.dateFilter}">
        <b>date filter:</b>
        <span style="padding-left: 25px;">
            <b>path: </b>
            <span th:narrative="${dFilter.path}"></span>
        </span>
        <br/>
        <span th:if="${dFilter.hasValueDateTime()}">
            <b>date time: </b>
            <span th:narrative="${dFilter.valueDateTime}"></span>
        </span>
        <span th:if="${dFilter.hasValuePeriod()}">
            <b>date period: </b>
            <span style="padding-left: 25px;" th:if="${dFilter.valuePeriod.hasStart()}">
                <br/>
                <b>start: </b>
                <span th:narrative="${dFilter.valuePeriod.start}"></span>
            </span>
            <span style="padding-left: 25px;" th:if="${dFilter.valuePeriod.hasEnd()}">
                <b>end: </b>
                <span th:narrative="${dFilter.valuePeriod.end}"></span>
            </span>
        </span>
        <span th:if="${dFilter.hasValueDuration()}">
            <b>date duration: </b>
            <br/>
            <span style="padding-left: 25px;">
                <b>duration: </b>
                <span th:narrative="${dFilter.valueDuration}"></span>
            </span>
        </span>
    </p>
</div>