<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <!-- INVALID - NEEDS WORK -->
    <div th:if="${resource.hasId()}">
        <b>id: </b>
        <span th:narrative="${resource.id}"></span>
    </div>

    <br th:if="${resource.hasId()}" />

    <div th:if="${resource.hasRequestId()}">
        <b>request id: </b>
        <span th:narrative="${resource.requestId}"></span>
    </div>

    <br th:if="${resource.hasRequestId()}" />

    <div th:each="ident : ${resource.identifier}">
        <span th:narrative="${ident}"></span>
    </div>

    <br th:if="${resource.hasIdentifier()}" />

    <div>
        <b>reference to knowledge module: </b>
        <div style="padding-left: 25px;" th:narrative="${resource.module}"></div>
    </div>

    <br />

    <div>
        <b>status: </b>
        <span th:narrative="${resource.status.toCode()}"></span>
    </div>

    <br />
</div>