<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <table th:if="${resource.hasId()}" class="grid dict">
        <tr>
            <td><b>Id: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.id}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasId() and not resource.hasIdentifier()}"></p>

    <table th:each="ident : ${resource.identifier}" class="grid dict">
        <tr>
            <td><b>Identifier: </b></td>
        </tr>
        <tr th:if="${ident.hasSystem()}">
            <td style="padding-left: 25px; padding-right: 25px;">
                <b>system: </b> <span th:narrative="${ident.system}"></span>
            </td>
        </tr>
        <tr th:if="${ident.hasValue()}">
            <td style="padding-left: 25px; padding-right: 25px;">
                <b>value: </b> <span th:narrative="${ident.value}"></span>
            </td>
        </tr>
    </table>

    <p th:if="${resource.hasIdentifier()}"></p>

    <table th:if="${resource.hasVersion()}" class="grid dict">
        <tr>
            <td><b>Version: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.version}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasVersion()}"></p>

    <table th:if="${resource.hasTitle()}" class="grid dict">
        <tr>
            <td><b>Title: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.title}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasTitle()}"></p>

    <table class="grid dict">
        <tr>
            <td><b>Type: </b></td>
        </tr>
        <tr>
            <td style="padding-right: 25px;" th:narrative="${resource.type}"></td>
        </tr>
    </table>

    <p></p>

    <table th:if="${not resource.status.toCode().empty}" class="grid dict">
        <tr>
            <td><b>Status: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.status.toCode()}"></td>
        </tr>
    </table>

    <p th:if="${not resource.status.toCode().empty}"></p>

    <table th:if="${resource.hasDescription()}" class="grid dict">
        <tr>
            <td><b>Description: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.description}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasDescription()}"></p>

    <table th:if="${resource.hasPurpose()}" class="grid dict">
        <tr>
            <td><b>Purpose: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.purpose}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasPurpose()}"></p>

    <table th:if="${resource.hasUsage()}" class="grid dict">
        <tr>
            <td><b>Usage: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.usage}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasUsage()}"></p>

    <table th:each="context : ${resource.useContext}" class="grid dict">
        <tr>
            <td><b>Use Context: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${context}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasUseContext()}"></p>

    <table th:each="topics : ${resource.topic}" class="grid dict">
        <tr>
            <td><b>Topic: </b></td>
        </tr>
        <tr>
            <td style="padding-right: 25px;" th:narrative="${topics}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasTopic()}"></p>

    <table th:each="cont : ${resource.contributor}" class="grid dict">
        <tr>
            <td><b>Contributor: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;"><b><span th:narrative="${cont.type.toCode()}"></span>: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 50px; padding-right: 25px;" th:narrative="${cont.name}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasContributor()}"></p>

    <table th:each="related : ${resource.relatedArtifact}" class="grid dict">
        <tr>
            <td><b>Related: </b></td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${related}"></td>
        </tr>
    </table>

    <table th:each="param : ${resource.parameter}" class="grid dict">
        <tr>
            <td><b>Parameter: </b></td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="padding-left: 25px; padding-right: 25px;">
                <span th:if="${param.hasName()}">
                    <b>name: </b>
                    <span th:narrative="${param.name}"></span>
                    <br/>
                </span>
                <b>use: </b>
                <span th:narrative="${param.use.toCode()}"></span>
                <br/>
                <span th:if="${param.hasMin()}">
                    <b>minimum cardinality: </b>
                    <span th:narrative="${param.min}"></span>
                    <br/>
                </span>
                <span th:if="${param.hasMax()}">
                    <b>maximum cardinality: </b>
                    <span th:narrative="${param.max}"></span>
                    <br/>
                </span>
                <b>type: </b>
                <span th:narrative="${param.type}"></span>
                <br/>
                <span th:if="${param.hasDocumentation()}">
                    <b>documentation: </b>
                    <span th:narrative="${param.documentation}"></span>
                    <br/>
                </span>
                <span th:if="${param.hasProfile()}">
                    <b>profile: </b>
                    <span th:narrative="${param.profile}"></span>
                    <br/>
                </span>
                <p style="margin-bottom: 5px;"></p>
            </td>
        </tr>
    </table>

    <table th:each="dataReq : ${resource.dataRequirement}" class="grid dict">
        <tr>
            <td><b>Data Requirements: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${dataReq}"></td>
        </tr>
    </table>

    <table th:each="con : ${resource.content}" class="grid dict">
        <tr>
            <td><b>Content: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${con}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasContent()}"></p>
</div>