<th:block th:if="${not resource.empty}">
    <!-- INVALID - NEEDS WORK -->
    <div th:if="${resource.hasNumerator()}">
        <div th:if="${resource.hasDenominator()">
            <span th:if="${resource.numerator.hasValue()">
                <span th:narrative="${resource.numerator.value}"></span>
            </span>
            <span th:if="${resource.numerator.hasUnit()">
                <span th:narrative="${resource.numerator.unit}"></span>
            </span>
            <span th:if="${resource.denominator.hasValue()">
                <span> per </span>
                <span th:narrative="${resource.denominator.value}"></span>
            </span>
            <span th:if="${resource.denominator.hasUnit()">
                <span th:narrative="${resource.denominator.unit}"></span>
            </span>
        </div>
    </div>
</th:block>