<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <table th:if="${resource.hasId()}" class="grid dict">
        <tr>
            <td><b>Id: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.id}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasId()}"></p>

    <table th:each="ident : ${resource.identifier}" class="grid dict">
        <tr>
            <td><b>Identifier: </b></td>
        </tr>
        <tr th:if="${ident.hasSystem()}">
            <td style="padding-left: 25px; padding-right: 25px;">
                <b>system: </b> <span th:narrative="${ident.system}"></span>
            </td>
        </tr>
        <tr th:if="${ident.hasValue()}">
            <td style="padding-left: 25px; padding-right: 25px;">
                <b>value: </b> <span th:narrative="${ident.value}"></span>
            </td>
        </tr>
    </table>

    <p th:if="${resource.hasIdentifier()}"></p>

    <table th:if="${resource.hasTitle()}" class="grid dict">
        <tr>
            <td><b>Title: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.title}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasTitle()}"></p>

    <table th:if="${resource.hasStatus()}" class="grid dict">
        <tr>
            <td><b>Status: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.status.toCode()}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasStatus()}"></p>

    <table th:if="${resource.hasDescription()}" class="grid dict">
        <tr>
            <td><b>Description: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.description}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasDescription()}"></p>

    <table th:if="${resource.hasPurpose()}" class="grid dict">
        <tr>
            <td><b>Purpose: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.purpose}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasPurpose()}"></p>

    <table th:if="${resource.hasUsage()}" class="grid dict">
        <tr>
            <td><b>Usage: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.usage}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasUsage()}"></p>

    <table th:each="context : ${resource.useContext}" class="grid dict">
        <tr>
            <td><b>Use Context: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${context}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasUseContext()}"></p>

    <table th:each="topics : ${resource.topic}" class="grid dict">
        <tr>
            <td><b>Topic: </b></td>
        </tr>
        <tr>
            <td style="padding-right: 25px;" th:narrative="${topics}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasTopic()}"></p>

    <table th:each="cont : ${resource.contributor}" class="grid dict">
        <tr>
            <td><b>Contributor: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;"><b><span th:narrative="${cont.type.toCode()}"></span>: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 50px; padding-right: 25px;" th:narrative="${cont.name}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasContributor()}"></p>

    <table th:each="related : ${resource.relatedArtifact}" class="grid dict">
        <tr>
            <td><b>Related: </b></td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${related}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasRelatedArtifact()}"></p>

    <table th:each="dataReq : ${resource.dataRequirement}" class="grid dict">
        <tr>
            <td><b>Data Requirements: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${dataReq}"></td>
        </tr>
    </table>

    <p th:if="${resource.hasDataRequirement()}"></p>

    <table th:if="${resource.hasOperationDefinition()}" class="grid dict">
        <tr>
            <td><b>Operation Definition: </b></td>
        </tr>
        <tr>
            <td style="padding-left: 25px; padding-right: 25px;" th:narrative="${resource.operationDefinition}"></td>
        </tr>
    </table>
</div>