<th:block th:if="${not resource.empty}">
    <p style="padding-left: 25px; margin-bottom: 5px;" th:if="${resource.code.hasSystem()}">
        <b>system: </b>
        <span th:narrative="${resource.code.system}"></span>
    </p>
    <p style="padding-left: 25px; margin-bottom: 5px;" th:if="${resource.code.hasCode()}">
        <b>code: </b>
        <span th:narrative="${resource.code.code}"></span>
    </p>
    <p style="padding-left: 25px; margin-bottom: 5px;" th:if="${resource.code.hasDisplay()}">
        <b>display: </b>
        <span th:narrative="${resource.code.display}"></span>
    </p>
    <p style="padding-left: 25px; margin-bottom: 5px;" th:if="${resource.hasValueCodeableConcept()}">
        <b>value: </b>
        <br/>
        <span th:narrative="${resource.valueCodeableConcept}"></span>
    </p>
    <p style="padding-left: 25px; margin-bottom: 5px;" th:if="${resource.hasValueQuantity()}">
        <b>quantity: </b>
        <span th:if="${resource.valueQuantity.hasComparator()}">
            <span style="padding-left: 25px;" th:narrative="${resource.valueQuantity.comparator}"></span>
        </span>
        <span th:if="${resource.valueQuantity.hasValue()}">
            <span style="padding-left: 25px;" th:narrative="${resource.valueQuantity.value}"></span>
        </span>
        <span th:if="${resource.valueQuantity.hasUnit()}">
            <span style="padding-left: 25px;" th:narrative="${resource.valueQuantity.unit}"></span>
        </span>
    </p>
    <p style="padding-left: 25px; margin-bottom: 5px;" th:if="${resource.hasValueRange()}">
        <b>range: </b>
        <span th:if="${resource.valueRange.hasLow()}">
            <span style="padding-left: 25px;" th:narrative="${resource.valueRange.low}"></span>
        </span>
        <span th:if="${resource.valueRange.hasHigh()}">
            <span style="padding-left: 25px;" th:narrative="${resource.valueRange.high}"></span>
        </span>
    </p>
</th:block>