<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.web.socket.handler.ExceptionWebSocketHandlerDecorator" additivity="false" level="info">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="ca.uhn.fhir.jpa.dao.FhirResourceDaoSubscriptionDstu2" additivity="false" level="info">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.eclipse.jetty.websocket" additivity="false" level="info">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.eclipse" additivity="false" level="error">
	</logger>

	<logger name="ca.uhn.fhir.rest.client" additivity="false" level="info">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="ca.uhn.fhir.jpa.dao" additivity="false" level="info">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<!-- Set to 'trace' to enable SQL logging -->
	<logger name="org.hibernate.SQL" additivity="false" level="info">
		<appender-ref ref="STDOUT" />
	</logger>
	<!-- Set to 'trace' to enable SQL Value logging -->
	<logger name="org.hibernate.type" additivity="false" level="info">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate.search.elasticsearch.request" additivity="false" level="trace">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate" additivity="false" level="info">
		<appender-ref ref="STDOUT" />
	</logger>

	<!--
	Configuration for MDM troubleshooting log
	-->
	<appender name="MDM_TROUBLESHOOTING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter"><level>DEBUG</level></filter>
		<file>${smile.basedir}/log/mdm-troubleshooting.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${smile.basedir}/log/mdm-troubleshooting.log.%i.gz</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>9</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="ca.uhn.fhir.log.mdm_troubleshooting" level="TRACE">
		<appender-ref ref="MDM_TROUBLESHOOTING"/>
	</logger>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
