<configuration scan="true" scanPeriod="30 seconds">

	<appender name="EJBFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/glassfish/svcret/svcret-ejb.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/glassfish/svcret/svcret-ejb.log_%d{yyyy-MM-dd'T'HH'-00-00'}</fileNamePattern>
		</rollingPolicy>
	</appender>

	<appender name="ERRORFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/glassfish/svcret/svcret-error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/var/log/glassfish/svcret/svcret-error-%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>	
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>	
	</appender>

	<appender name="DEBUGFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/glassfish/svcret/svcret-debug.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/var/log/glassfish/svcret/svcret-debug-%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>	
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>	
	</appender>
	
	<appender name="ADMINFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/glassfish/svcret/svcret-admin.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/glassfish/svcret/svcret-admin.log_%d{yyyy-MM-dd'T'HH'-00-00'}</fileNamePattern>
		</rollingPolicy>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="net.svcret.admin" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ADMINFILE" />
		<appender-ref ref="ERRORFILE" />
		<appender-ref ref="DEBUGFILE" />
	</logger>

	<logger name="net.svcret" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="EJBFILE" />
		<appender-ref ref="ERRORFILE" />
		<appender-ref ref="DEBUGFILE" />
	</logger>

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="EJBFILE" />
		<appender-ref ref="ERRORFILE" />
		<appender-ref ref="DEBUGFILE" />
	</root>

</configuration>