name: Pull Request Pipeline

on:
  pull_request:
    branches:
      - master
      - rel_*

jobs:
  load-config-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install yq
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/download/v4.40.5/yq_linux_amd64 -O /usr/bin/yq
          sudo chmod +x /usr/bin/yq

      - name: Load ignored modules from config
        id: load_config
        run: |
          IGNORED=$(yq '.ignored_modules' .github/config/ignored-modules.yml | tr -d '"')
          echo "ignored_modules=$IGNORED" >> $GITHUB_OUTPUT

    outputs:
      ignored_modules: ${{ steps.load_config.outputs.ignored_modules }}

  run-parallel-build:
    needs: load-config-and-run
    uses: ./.github/workflows/internal/pr-pipeline-core.yml
    with:
      ignored_modules: ${{ needs.load-config-and-run.outputs.ignored_modules }}
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
